.buttonsGrid {
  display: grid;

  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 40px;
  margin-bottom: 300px;
  .rightAnswer {
    background-color: green;
    border-color: white;
    color: white;
    &:hover {
      background-color: green;
    }
  }
  .falseAnswer {
    background-color: red;
    border-color: white;
    color: white;
    &:hover {
      background-color: red;
    }
  }
}

@media (min-width: 100px) {
  .buttonsGrid {
    grid-template-columns: 150px 150px;
  }
  .questionButton {
    width: 150px;
  }
}

@media (min-width: 720px) {
  .buttonsGrid {
    grid-template-columns: 200px 200px;
  }
  .questionButton {
    width: 200px;
  }
}

@media (min-width: 960px) {
  .buttonsGrid {
    grid-template-columns: 350px 350px;
  }
  .questionButton {
    width: 350px;
  }
  .question {
    padding-left: 30px !important;
    padding-right: 30px !important;
    min-width: 400px;
  }
}

.back {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: whitesmoke;
  border: solid black 2.5px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #f2f0f0;
  }
  &:active {
    background-color: #e6e1e1;
  }
  margin-bottom: 100px;
  img {
    height: 18px;
    width: 18px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.questionContainer {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
